/* Dark Blue: #010620
True Blue: #3066BE
Khaki: #828E82
Pewter Blue: #95B2B8
Jonquil: #E6C229 */

.aboutSection {
	height: 80vh;
	padding: 70px 0px 50px 50px;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	position: relative;
	background: linear-gradient(
		to right,
		rgb(223, 228, 236) 0%,
		rgba(246, 246, 246, 1) 60%,
		rgba(255, 255, 255, 1) 100% /*209 217 231*/
	);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.leftAbout {
	width: 40vw;
}

.rightAbout {
	width: 40vw;
	margin-left: auto;
	display: flex;
	position: relative;
	display: flex;
	flex-direction: column;
}

.aboutHeaderContainer {
	display: flex;
	align-items: center;
	margin-left: 100px;
	width: 100%;
}

.aboutIcon {
	height: 60px;
}

.aboutHeader {
	margin-right: 40px;
}

.aboutText {
	color: black;
}

.aboutTextContainer {
	width: 100%;
	margin-left: 100px;
	margin-top: 50px;
}

.aboutAchievmentsContainer {
	height: 200px;
	margin-left: 100px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.aboutAchievementCard {
	margin: 0 auto 0 auto;
	border-radius: 10px;
	transition: 0.2s ease;
	width: 30%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding: 20px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	border: 1px solid white;
	transition: 0.2s ease;
}

.aboutCartIcon {
	margin-right: 10px;
	margin-left: 0px;
}

#aboutItemImage {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
#aboutItemTitle {
	margin-top: 10px;
}

#achievementA:hover,
#achievementB:hover,
#achievementC:hover {
	transform: scale(1.05);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.topAchievementText,
.bottomAchievementText {
	font-size: 15px;
}

.middleAchievementText {
	font-size: 40px;
}

hr {
	width: 50%;
	margin: auto;
}

#achievementA {
	background: linear-gradient(
		to right,
		rgba(68, 115, 208, 0.9) 0%,
		rgba(90, 129, 207, 0.9) 100% /*209 217 231*/
	);
}
#achievementB {
	background: linear-gradient(
		to right,
		rgba(68, 115, 208, 0.7) 0%,
		rgba(90, 129, 207, 0.7) 100% /*209 217 231*/
	);
}

#achievementC {
	background: linear-gradient(
		to right,
		rgba(68, 115, 208, 0.5) 0%,
		rgba(90, 129, 207, 0.5) 100% /*209 217 231*/
	);
}
.aboutIconImage {
	height: 60px;
}

.aboutProductCard {
	width: 300px;
	height: 400px;
	background: rgb(223, 228, 236);
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	border-radius: 20px;
	overflow: hidden;
	transition: 0.3s ease-out;
	transition: 0.3s ease;
	opacity: 1;
}

.aboutViewDetailsButton {
	width: 50%;
	margin: auto 5px auto 5px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutAddToCartButton {
	width: 50%;
	margin: auto 5px auto 5px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#aboutItemDetailText {
	font-size: 14px;
	padding-top: 20px;
	margin: auto;
}

#aboutDetailsLine {
	margin-top: 5px;
}

.aboutProductCarousel {
	display: flex;
	padding: 50px;
	justify-content: center;
}

.aboutCardRight {
	padding: 0px;
	transform: translateX(300px);
	display: hidden;
	transition: 0.3s ease;
	display: hidden;
	width: 0;
	opacity: 0;
}

.aboutCardLeft {
	padding: 0px;
	transform: translateX(-300px);
	opacity: 0;
	display: hidden;
	transition: 0.1s ease;
	width: 0;
}

.aboutNav {
	height: 30px;
	width: 150px;
	background: rgba(68, 115, 208, 0.5);
	backdrop-filter: blur(10px) opacity(1) drop-shadow(10px 10px 10px #303030);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	border-radius: 20px;
	padding: 0px;
	margin: 0px auto auto auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	opacity: 0.7;
	transition: 0.2s ease;
}

.aboutNavButton {
	width: 15px;
	height: 15px;
	border-radius: 100px;
	border: 2px solid #cfd9e9;
	background: transparent;
	transition: 0.2s ease;
	outline: none;
}

.aboutNavButton:hover {
	border: 2px solid white;
	background: rgba(255, 255, 255, 0.3);
}

.aboutNavButtonActive {
	background: white;
}

.aboutNavButtonActive:hover {
	background: #cfd9e9;
	border: 2px solid #cfd9e9;
}

@media screen and (max-width: 1260px) {
	.gradientImage {
		top: 25%;
	}

	.topAchievementText,
	.bottomAchievementText {
		font-size: 12px;
	}

	.middleAchievementText {
		font-size: 20px;
	}
}

@media screen and (max-width: 900px) {
	.aboutProductCarousel {
		display: hidden;
	}
	.aboutSection {
		align-items: center;
		margin-left: 0px;
		padding-left: 0px;
	}

	.rightAbout {
		display: none;
	}
	.leftAbout {
		width: 100%;
	}
	.aboutHeaderContainer {
		margin-left: 0px;
	}
	.aboutHeader {
		margin-left: auto;
		margin-right: 10px;
	}

	.aboutIcon {
		margin-right: auto;
	}
	.aboutIconImage {
		height: 40px;
		margin-top: 10px;
	}

	.aboutTextContainer {
		width: 80%;
		font-size: 12px;
		margin-top: 25px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.aboutAchievmentsContainer {
		margin-left: auto;
		margin-right: auto;
	}
}
