/* Dark Blue: #010620
True Blue: #3066BE
Khaki: #828E82
Pewter Blue: #95B2B8
Jonquil: #E6C229 
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
*/

.productViewSection {
	display: flex;
	padding-top: 170px;
	justify-content: space-around;
	background-image: linear-gradient(
		to bottom,
		rgba(68, 115, 208, 0.1) 0%,
		white 50%
	);
}

.productViewBackButtonDiv {
	position: absolute;
	left: 50px;
	top: 150px;
	display: flex;
	transition: 0.1s ease;
}

.productViewBackButtonDiv:hover {
	cursor: pointer;
}

.productViewBackButtonText {
	color: black;
	padding-left: 10px;
}

.productViewDetailsDiv {
	padding: 80px;
	width: 600px;
}

.productViewCategoryTypeDiv {
	background: grey;
	width: 200px;
	height: 25px;
	color: black;
	display: flex;
}

.productViewCategoryTypeText {
	margin: auto;
}

.productViewHeader {
	color: black;
	margin-left: auto;
	margin-right: 50px;
	font-size: 30px;
}

.skuHeader {
	color: grey;
	font-weight: lighter;
}

.productViewDescription {
	color: black;
	font-weight: 300;
	line-height: 2;
	margin-top: 40px;
}

.productViewQuantityDiv {
	display: flex;
	flex-direction: column;
	width: 150px;
}
.productViewQuantityHeader {
	color: grey;
}

.productViewQuantityButton {
	border: 1px solid grey;
	display: flex;
	justify-content: space-between;
}
.productViewQuantityButtonNegative {
	border-right: 1px solid grey;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.1s ease;
}

.productViewQuantityButtonValue {
	color: black;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.productViewQuantityButtonPositive {
	border-left: 1px solid grey;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.1s ease;
}

.productViewPriceValue {
	color: black;
	font-size: 32px;
	margin-top: auto;
	margin-bottom: 0px;
}

.productViewImageDiv {
	width: 40%;
	height: 100%;
}

.productViewMainImageDiv {
	display: flex;
}
.productViewMainImage {
	width: 100%;
	max-width: 500px;
	margin: 50px;
	padding: 50px;
}

.productViewSubImageCarousel {
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.recommenderContainer {
	width: 100%;
	margin: auto;
}

.productViewQuantAndValueDiv {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	margin-bottom: 40px;
}

.productViewPriceValue {
	margin-left: auto;
	margin-top: auto;
	padding-right: 20px;
	padding-bottom: 0px;
}

.productViewAddToCart,
.productViewFindInStore {
	display: flex;
	background: rgba(62, 103, 184, 1);
	color: white;
	border: none;
	border-radius: 20px;
	padding: 5px;
	transition: 0.1s ease-in;
	width: 100%;
	justify-content: center;
	margin-top: 20px;
	padding: 10px;
	outline: none;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.productViewFindInStore {
	border: solid 2px #3066be;
	background: transparent;
	color: #3066be;
}

.productViewAddToCartIcon,
.productViewFindInStoreIcon {
	margin-left: 10px;
}

.productViewAddToCart:hover,
.productViewFindInStore:hover {
	transform: scale(1.1);
	text-decoration: none;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.productViewFindInStore:hover {
	color: #3066be;
}

.productViewAddToCart:active,
.productViewFindInStore:active {
	transform: scale(1);
}
.productViewQuantityButtonPositive:hover,
.productViewQuantityButtonNegative:hover {
	cursor: pointer;
	color: #3066be;
	font-weight: 900;
	background: rgba(0, 0, 0, 0.1);
}

.productImageLoader {
	height: 500px;
	margin: auto;
	display: flex;
}

.recommendationItemCard {
	margin: auto;
	width: 150px;
	background: white;
	border: 1px solid rgb(68, 115, 208);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 10px;
}

.recommendationImage {
	width: 100px;
}
.recommendationImageContainer {
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.recommenderHeader {
	color: rgb(68, 115, 208);
	font-size: 18px;
}

.recommendationTitle {
	color: rgb(68, 115, 208);
	font-weight: normal;
}

.recommendationItemContainer {
	transition: 0.2s;
	opacity: 0.8;
	border: none;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	outline: none;
	margin: 0px 20px;
}

.recommendationItemContainer:hover {
	opacity: 1;
	text-decoration-line: none;
	transform: scale(1.03);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.recommendationItemContainer:active {
	opacity: 1;
	text-decoration-line: none;
	transform: scale(0.98);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media screen and (max-width: 1270px) {
	.productViewHeader {
		font-size: 24px;
	}

	.recommenderHeader {
		font-size: 14px;
	}
	.recommenderContainer {
		width: 100%;
		margin: auto;
	}
	.recommendationImageContainer {
		width: 50px;
		height: 50px;
	}
	.recommendationImage {
		width: 50px;
	}
	.productViewDescription {
		font-size: 12px;
	}
	.productViewDetailsDiv {
		width: 40%;
	}
}

@media screen and (max-width: 1000px) {
	.productViewSection {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.productViewImageDiv {
		width: 80%;
		margin: auto;
	}
	.productViewMainImage {
		margin: auto;
	}
	.productViewDetailsDiv {
		width: 100%;
		padding: 10px 125px;
		margin-bottom: 80px;
	}
	.recommenderContainer {
		display: none;
	}
	.recommendationImageContainer {
		margin: auto;
	}
	.recommendationImage {
		width: 200px;
	}
}

@media screen and (max-width: 700px) {
	.productViewDetailsDiv {
		width: 100%;
		padding: 10px 80px;
		margin-bottom: 80px;
	}
}
