/* Dark Blue: #010620
True Blue: #3066BE
Khaki: #828E82
Pewter Blue: #95B2B8
Jonquil: #E6C229 */

.heroContainer {
	position: relative;
	height: 80vh;
	margin: 0 0 0 0;
	overflow: hidden;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.heroSlide {
	position: absolute;
}

.heroSlideActive {
	height: 80vh;
	width: 100vw;
	padding: 0px;
	transition: 0.3s ease;
}

.heroSlideLeft {
	transform: translateX(-100vw);
	padding: 0px;
	height: 80vh;
	width: 100vw;
	display: hidden;
	transition: 0.3s ease;
}

.heroSlideRight {
	padding: 0px;
	height: 80vh;
	width: 100vw;
	transform: translateX(100vw);
	display: hidden;
	transition: 0.3s ease;
	display: hidden;
}

.heroSlideInvisible {
	height: 0px;
	margin: 0px;
	padding: 0px;
}

.heroOneContainer {
	background-image: linear-gradient(to bottom, #010620b2, #e6c3290e),
		url('../../../assets/dark_panels.jpg');
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.heroTwoContainer {
	background-image: linear-gradient(to bottom, #010620b2, #e6c3290e),
		url('../../../assets/windpower.jpeg');
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.heroThreeContainer {
	background-image: linear-gradient(to bottom, #010620b2, #e6c3290e),
		url('../../../assets/sky_panels1.jpeg');
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.heroSubheader {
	color: #cfd9e9;
}

.leftHero {
	margin-left: 100px;
	width: 40%;
	padding: 20px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px) opacity(1) drop-shadow(10px 10px 10px #303030);
	border-radius: 20px;
}

.heroCard {
	border-radius: 20px;
	padding: 20px;
	margin-right: 200px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px) opacity(1) drop-shadow(10px 10px 10px #303030);
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
}

.border {
	transition: 1s ease-in-out;
}

.borderExpand {
	padding-left: 100px;
	padding-right: 100px;
}

h1 {
	font-size: 60px;
}

.heroHeader,
p {
	color: white;
	font-weight: lighter;
}

h2 {
	color: #95b2b8;
}

ul {
	list-style: none;
}

.colorize {
	/* color: #e6c229; */
	color: #243147;
	font-weight: bolder;
}
.hiddenArrow {
	position: absolute;
	top: 50%;
	transition: 0.2s ease-in-out;
	opacity: 0;
	pointer-events: none;
}

.arrow {
	position: absolute;
	top: 50%;
	transition: 0.2s ease-in-out;
}
.leftArrow {
	left: 25px;
	color: rgba(255, 255, 255, 0.5);
}

.rightArrow {
	right: 25px;
	color: rgba(255, 255, 255, 0.5);
}

.leftArrow:hover,
.rightArrow:hover {
	transform: scale(1.1);
	color: white;
	cursor: pointer;
}

.leftArrow:hover {
	transform: translate(-5px);
}

.rightArrow:hover {
	transform: translate(5px);
}

.cardTitle {
	color: #cfd9e9;
	font-size: 40px;
	margin: auto;
	font-weight: lighter;
}

.imagePlaceholder {
	height: 200px;
	margin: auto;
}

.cardFooter {
	display: flex;
}

.cardValue {
	margin-top: auto;
	margin-bottom: auto;
	color: white;
	font-weight: lighter;
}

.viewButton,
.viewButtonHidden {
	background-color: #3066be;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid white;
	margin-left: auto;
	transition: 0.2s ease-in-out;
}

.viewButtonHidden {
	visibility: hidden;
	height: 0;
	margin-left: 0px;
	width: 93px;
}

.viewButtonText {
	margin: auto;
}

.viewButton:hover,
.viewButtonHidden:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.heroNav {
	height: 30px;
	width: 150px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px) opacity(1) drop-shadow(10px 10px 10px #303030);
	border-radius: 20px;
	padding: 0px;
	margin: 0px auto 0px auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	opacity: 0.7;
	transition: 0.2s ease;
	position: relative;
	top: 70vh;
}

.heroNav:hover {
	opacity: 1;
}

.heroNavButton {
	width: 15px;
	height: 15px;
	border-radius: 100px;
	border: 2px solid #cfd9e9;
	background: transparent;
	transition: 0.2s ease;
	outline: none;
}

.heroNavButton:hover {
	border: 2px solid white;
	background: rgba(255, 255, 255, 0.3);
}

.heroNavButtonActive {
	background: white;
}

.heroNavButtonActive:hover {
	background: #cfd9e9;
	border: 2px solid #cfd9e9;
}

@media screen and (max-width: 1260px) {
	h1 {
		font-size: 40px;
	}

	.cardTitle,
	.cardValue {
		font-size: 20px;
	}
}

@media screen and (max-width: 900px) {
	h1 {
		font-size: 30px;
	}

	.leftHero {
		width: 70%;
		margin: auto;
	}

	.heroCard {
		display: none;
	}

	.viewButtonHidden {
		visibility: visible;
		height: 40px;
		width: 93px;
		margin-left: 0px;
	}
}
