/* Dark Blue: #010620
True Blue: #3066BE
Khaki: #828E82
Pewter Blue: #95B2B8
Jonquil: #E6C229 */

footer {
	height: 20vh;
	z-index: 10;
}

.upperFooter {
	height: 80%;
	width: 100%;
	background: #010620;
	display: flex;
	justify-content: space-between;
	z-index: 10;
}

.leftUpperFooter {
	margin-left: 50px;
	margin-top: auto;
	margin-bottom: auto;
}

.rightUpperFooter {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 50px;
	text-align: right;
}

.middleUpperFooter {
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
}

.lowerFooter {
	background: #828e82;
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerLink {
	cursor: pointer;
	transition: 0.2s;
}

.footerLink:hover {
	transform: scale(1.05);
}
