.navbar {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.navContainer {
	width: 50%;
	margin-left: 20px;
	display: flex;
	justify-content: flex-start;
}

.linksContainer {
	display: flex;
	width: 50%;
	justify-content: space-between;
}

.navLinks {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navLink {
	margin-left: 100px;
	margin-right: 100px;
	text-decoration: none;
	color: #3066be;
}

.navHeader {
	color: black;
	text-decoration: none;
}

.searchIcon,
.cartIcon {
	height: 20px;
	width: 20px;
	margin: auto;
	color: black;
}

.signRegister {
	margin: auto;
}

.navLink:hover {
	color: #7d94ba;
	text-decoration: none;
}
