/* Dark Blue: #010620
True Blue: #3066BE
Khaki: #828E82
Pewter Blue: #95B2B8
Jonquil: #E6C229 */

.navbar {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	background: white;
	width: 100%;
	z-index: 5;
	height: 110px;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(97, 97, 97, 1);
	-moz-box-shadow: 0px 2px 6px 0px rgba(97, 97, 97, 1);
	box-shadow: 0px 2px 6px 0px rgba(97, 97, 97, 1);
}

.navContainer {
	width: 50%;
	margin-left: 20px;
	display: flex;
	justify-content: flex-start;
}

.linksContainer {
	display: flex;
	width: 50%;
	justify-content: space-between;
}

.navLinks {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navLink {
	margin-left: 50px;
	margin-right: 50px;
	text-decoration: none;
	color: #3066be;
	min-width: 120px;
	text-align: center;
}

.navHeader {
	color: black;
	text-decoration: none;
	margin: 0;
}

.cartIcon {
	height: 20px;
	min-width: 80px;
	margin-right: 50px;
	margin-bottom: 3px;
}

.cartDiv {
	display: flex;
	margin-left: 50px;
	justify-content: center;
	align-items: center;
}

.cartQuantityText {
	color: white;
	text-align: center;
	background: #3066be;
	padding: 5px;
	padding-left: 7px;
	padding-right: 7px;
	position: relative;
	left: 75px;
	bottom: 12px;
	border-radius: 10px;
	font-size: 10px;
	cursor: pointer;
}

.searchIcon {
	height: 20px;
	transition: 0.1s ease;
}

.searchIconDiv {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 50px;
}
.signRegister {
	margin-left: 100px;
	cursor: pointer;
}

.navLink:hover {
	color: #7d94ba;
	text-decoration: none;
}

.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}

/* Dark Blue: #010620
True Blue: #3066BE
Khaki: #828E82
Pewter Blue: #95B2B8
Jonquil: #E6C229 */
.hvr-underline-from-center:before {
	content: '';
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: #3066be;
	height: 1px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}

.act-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.act-underline-from-center:before {
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
	background: #3066be;
	height: 1px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.navDetailLink {
	color: black;
	cursor: pointer;
}

.navDetails {
}

.navDetailOption {
	color: #3066be;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.navDetailOption:hover {
	background: rgba(48, 102, 190, 0.3);
	border-radius: 20px;
	text-decoration: none;
	color: #3066be;
}

.shopDetails,
.contactDetails {
	display: none;
	flex-direction: column;
	text-align: center;
	padding: 10px;
	transform: translate(40px);
	top: 109px;
	position: absolute;
	background: white;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-left: 2px solid #3066be;
	border-right: 2px solid #3066be;
	border-bottom: 2px solid #3066be;
	-webkit-box-shadow: 0 6px 6px -6px rgba(97, 97, 97, 1);
	-moz-box-shadow: 0 6px 6px -6px rgba(97, 97, 97, 1);
	box-shadow: 0 6px 6px -6px rgba(97, 97, 97, 1);
}

.contactDetails {
	transform: translate(63px);
}

.signOutButton {
	cursor: pointer;
	margin-left: 100px;
}

.searchBar {
	display: flex;
	cursor: pointer;
}

.searchBarInput {
	width: 50px;
	transition: 0.2s ease;
	border-radius: 10px;
	padding: 5px;
	border: 1px solid #3066be;
	background: rgba(20, 20, 20, 0.02);
	opacity: 0;
	color: #3066be;
}

.searchBarInput::placeholder {
	color: #3066be5b;
}
.searchIconActive {
	cursor: pointer;
	transform: scale(1.2) rotate(-10deg);
}

.searchBarInput:hover {
	opacity: 1;
	width: 220px;
}

.searchBarActive {
	opacity: 0.5;
	width: 220px;
}

.searchIcon:hover {
	cursor: pointer;
	transform: scale(1.2) rotate(-10deg);
}

.searchBarInput:focus,
.searchBarInput:active {
	opacity: 1;
	width: 220px;
	background: rgba(20, 20, 20, 0.05);
}
@media screen and (max-width: 1260px) {
	.navLink,
	.cartIcon {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media screen and (max-width: 900px) {
}
