.videoCutoutSection {
	height: 80vh;
	padding: 100px 0px 50px 50px;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	position: relative;
	background: linear-gradient(
		to right,
		rgb(223, 228, 236) 0%,
		rgba(246, 246, 246, 1) 60%,
		rgba(255, 255, 255, 1) 100% /*209 217 231*/
	);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.videoCutoutText {
	transition: 0.5s ease-in-out;
	width: 100%;
	transform: scale(1) translateY(-50px);
	margin: auto;
}

.growCutout {
	transform: scale(2) translateY(-50px);
}

@media screen and (max-width: 1260px) {
	.cutoutText {
		font-size: 300px;
	}
}

@media screen and (max-width: 900px) {
	.cutoutText {
		font-size: 180px;
	}
}
