.videoCutoutSection {
	height: 80vh;
	width: 100vw;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
	background-image: url('../../../assets/dusk_panel1.jpg');
}

.videoCutoutText {
	transition: 0.5s ease-in-out;
	width: 100%;
	transform: scale(1) translateY(-50px);
	margin: auto;
}

.growCutout {
	transform: scale(2) translateY(-50px);
}

@media screen and (max-width: 1260px) {
	.cutoutText {
		font-size: 300px;
	}
}

@media screen and (max-width: 900px) {
	.cutoutText {
		font-size: 180px;
	}
}
